<form id="first-search" action="#">
  <div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="first-param">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" id="first-param">
      <label class="mdl-textfield__label" for="first-param">Enter your first parameter</label>
    </div>
  </div>
</div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="second-param">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" id="second-param">
      <label class="mdl-textfield__label" for="second-param">Enter your second parameter</label>
    </div>
  </div>
</form>

